/* Mixins */

/* Mediaqueries */
@mixin from($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin fromy($size) {
  @media (max-height: $size) {
    @content;
  }
}

/* Fontfaces */
@mixin fontface($name, $file) {
  $path: "../assets/fonts/" + $name + "/" + $file;

  @font-face {
    font-family: "#{$name}";
    src: url($path + ".eot");
    src: url($path + ".eot?#iefix") format("embedded-opentype"), url($path + ".woff") format("woff"),
      url($path + ".ttf") format("truetype"), url($path + ".svg#" + $name) format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

/* General Container */
@mixin container($size) {
  margin: 0 auto;
  width: 95%;
  @if $size == xlarge {
    max-width: 1320px;
  } @else if $size == large {
    max-width: $xx-large; //1260px;
  } @else if $size == medium {
    max-width: 1024px;
  } @else if $size == small {
    max-width: $small; //375px
  }
}

/* Fonts Sizes */
@mixin hSizes($size) {
  @if $size == huge {
    font-family: $roboto-bold;
    font-size: 48px;
    letter-spacing: -0.96px;
    line-height: 56px;
  } @else if $size == large {
    font-family: $roboto-bold;
    font-size: 36px;
    letter-spacing: -0.72px;
    line-height: 40px;
  } @else if $size == regular {
    font-family: $roboto-bold;
    font-size: 28px;
    letter-spacing: -0.56px;
    line-height: 36px;
  } @else if $size == medium {
    font-family: $roboto-bold;
    font-size: 20px;
    letter-spacing: -0.4px;
    line-height: 26px;
  } @else if $size == small {
    font-family: $roboto-bold;
    font-size: 16px;
    line-height: 22px;
  }
}

@mixin bodySizes($size) {
  font-weight: normal;
  
  @if $size == large {
    font-family: $roboto-regular;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 26px;
  } @else if $size == regular {
    font-family: $roboto-regular;
    font-size: 18px;
    letter-spacing: -0.34px;
    line-height: 24px;
  } @else if $size == medium {
    font-family: $roboto-regular;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 20px;
  } @else if $size == small {
    font-family: $roboto-regular;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 18px;
  } @else if $size == tiny {
    font-family: $roboto-regular;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
  }
}

@mixin limitText($lines, $height: unset) {
  height: $height;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
